<!-- layout.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title>
        <%= title %>
    </title>
    <!-- Common styles and scripts can go here -->
</head>

<body>

    <header>
        <!-- Common header content -->
    </header>

    <!-- Main content will be injected here -->
    <%- content %>

        <footer>
            <!-- Common footer content -->
        </footer>
</body>

</html>